.fieldset .field,
select.form-control,
.form-control {
  height: 45px !important;
}

.fieldset .field__label {
  margin-bottom: 5px;
}

.fieldset .field:active, .fieldset .field:focus, .fieldset .field--focus {
  padding: 12px 8px 2px;
}

.fieldset .row {
  margin-bottom: 40px;
}

.form-control:focus {
  box-shadow: 0 0 0 0;
  height: 45px;
}

.fieldset {
  margin-bottom: 20px;
}

.fieldset .field--focus {
  border: 0;
}